[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wheel = ">=0.40.0"
pygithub = ">=1.59.1"
homeassistant = ">=2023.12.0"
sqlalchemy = "==1.0.13"
codecov = ">=2.1.13"
mock-open = "==1.4.0"
mypy = "==1.5.0"
pre-commit = "==3.5.0"
pylint = "==2.17.6"
astroid = "==2.13.3"
pylint-strict-informational = "==0.1"
pytest-aiohttp = "==0.4.0"
pytest-cov = "==4.1.0"
pytest-sugar = "==0.9.7"
pytest-timeout = "==2.1.0"
pytest = "==7.4.3"
requests_mock = "==1.11.0"
responses = "==0.23.3"

[packages]
librouteros = ">=3.4.1"
mac-vendor-lookup = ">=0.1.12"
